/* ---
### HeroElementOne
--- */

.hero-info{
    height: auto;
    background-image: url(../assets/images/image3.png);
    background-size: contain;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media screen and (min-width: 760px) {
    .hero-info{
      display: none
    }
  }
  
  .hero-grid{
    display: grid;
    grid-template-columns:repeat(6,1fr);
  }
  
  .hero-article{
  grid-column: 1/span 6;
  margin-top: 50px;
  }
  
  .hero-youtube{
  grid-column: 1/span 6;
  margin: 50px 15px 0px 15px;
  height: 300px;
  }
  
  @media screen and (min-width: 550px) {
    .hero-youtube{
      height: 450px;
    }
  }
  
  .card:hover {
    background: #add8e6;
  }
  
  .e2-level1 {
  display: block;
  }

  .hero1 {

    display: none;
    height: 100vh;
    grid-template-columns: repeat(12,1fr);
    background: rgb(232, 244, 248);
    background-image: url(../assets/images/image3.png);
    background-size: contain;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -60px;

}

@media screen and (max-width: 760px) {
    .hero1 {
      /* display: block; */
      /* align-items: center; */
      grid-template-columns: repeat(6,1fr);
      /* background: white; */
      display: grid;
      display: none;

    }
  }

  .article1 {
    grid-column: 1/span 6;
    margin: 70px auto 0px auto;
    height: auto;
    background: #f2b263;
    grid-row: 1/1;
    border-radius: 15px 50px;
    }
    
    @media screen and (min-width: 760px) {
        .article1{
          margin: auto;
          width: auto;
        }
      }

      .image-wrapper1 {    
        grid-row: 2/2;
        grid-column: 1/span3;
        height: 350px;
        margin: 10px
    }
    
    @media screen and (min-width: 760px) {
        .image-wrapper1{
          grid-column: 7/span4;
          grid-row: 1/2;
          width: 80%;
          height: auto;
        }
      }

      .title-h1 {
        font-size: 4.5rem;
        /* font-family: "Open Sans"; */
        font-family: "Lobster Two";
      }
      
      @media screen and (min-width: 760px) {
        .title-h1{
          font-size: 7rem;
        }
      }