/* ---
### HeroElementTwo
--- */

.hero-level1 {
    display: none;
    }
    @media screen and (min-width: 760px) {
      .hero-level1{
        display: block;
      }
    }
  
  .hero5{
    display: grid;
    height: auto;
    grid-template-columns: repeat(12,1fr);
    background: #fafafa;
    background-size: contain;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 20px 20px 20px;
  }
  
  .h-box4 {
    width: auto;
    height: 300px;
    background-color: white;
    grid-column: 1/span 8;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
  
    @media screen and (min-width: 960px) {
      .h-box4{
        height: 400px;
      }
    }
  
    @media screen and (min-width: 1200px) {
      .h-box4{
        height: 500px;
      }
    }
  
  .h-box4-1 {
    width: auto;
    height: 300px;
    background-color: white;
    grid-column: 1/span 8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
  
    @media screen and (min-width: 960px) {
      .h-box4-1{
        height: 400px;
      }
    }
  
    @media screen and (min-width: 1200px) {
      .h-box4-1{
        height: 500px;
      }
    }
    
    .h-box6 {
    width: auto;
    height: 300px;
    background-color: white;
    grid-column: 9/span 4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
  
    @media screen and (min-width: 960px) {
      .h-box6{
        height: 400px;
      }
    }
  
    @media screen and (min-width: 1200px) {
      .h-box6{
        height: 500px;
      }
    }
  
  .hero6{
    display: grid;
    height: auto;
    grid-template-columns: repeat(12,1fr);
    background: #fafafa;
    background-size: contain;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 20px 20px 20px;
  }
  
      .h-box7 {
      width: auto;
      height: 300px;
      background-color: white;
      grid-column: 1/span 4;
      margin-right: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }
  
      @media screen and (min-width: 960px) {
        .h-box7{
          height: 400px;
        }
      }
  
      @media screen and (min-width: 1200px) {
        .h-box7{
          height: 500px;
        }
      }
  
      .h-box7-1 {
      width: auto;
      height: 300px;
      background-color: white;
      grid-column: 1/span 4;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }
  
      @media screen and (min-width: 960px) {
        .h-box7-1{
          height: 400px;
        }
      }
  
      @media screen and (min-width: 1200px) {
        .h-box7-1{
          height: 500px;
        }
      }
  
      .h-box9 {
      width: auto;
      height: 300px;
      background-color: white;
      grid-column: 5/span 8;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }
  
      @media screen and (min-width: 960px) {
        .h-box9{
          height: 400px;
        }
      }
  
      @media screen and (min-width: 1200px) {
        .h-box9{
          height: 500px;
        }
      }
  
      .h-box9-1 {
      width: auto;
      height: 300px;
      background-color: white;
      grid-column: 5/span 8;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }
  
      @media screen and (min-width: 960px) {
        .h-box-1{
          height: 400px;
        }
      }
  
      @media screen and (min-width: 1200px) {
        .h-box9-1{
          height: 500px;
        }
      }

      .hero1 {
        display: none;
        height: 100vh;
        grid-template-columns: repeat(12,1fr);
        background: rgb(232, 244, 248);
        background-image: url(../assets/images/image3.png);
        background-size: contain;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -60px;
    }
    
    @media screen and (max-width: 760px) {
        .hero1 {
          grid-template-columns: repeat(6,1fr);
          display: grid;
          display: none;
        }
      }

      .e2-grid{
        display: none;
        position: inherit;
      }
      
      @media screen and (min-width: 760px) {
        .e2-grid{
          display: grid;
          height: auto;
          grid-template-columns: repeat(12,1fr);
          background-size: contain;
          align-items: center;
          background-size: cover;
          background-repeat: no-repeat;
          margin: 20px 0px 20px 0px;
        }
      }
      
      .e2-box1 {
        width: 200px;
        height: 200px;
        grid-column: 1/span 5;
        margin: 20px auto;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: drop-shadow(2px 4px 6px black);;
      }
      
      @media screen and (min-width: 960px) {
        .e2-box1{
          height: 250px;
          width: 250px;
        }
      }
      
      @media screen and (min-width: 1200px) {
        .e2-box1{
          height: 350px;
          width: 350px;
        }
      }

      .e2-box2 {
        width: auto;
        height: 300px;
        grid-column: 6/span 7;
        margin: 10px 0px 10px 0px;
        border-radius: 20px;
      }
      
      .e2-flex {
        display: table;
        margin: auto;
        margin-top: 20px;
        background-color: antiquewhite;
        margin: 0px 15px;
      }
      
      @media screen and (min-width: 760px) {
        .e2-flex{
          display: none;
        }
      }

      .e2-box1-flex{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        margin: 0px auto 20px auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 15px;
        margin-top: -100px; 
        filter: drop-shadow(2px 4px 6px black);
        }
        
        .e2-box2-flex{
        height: auto;
        background-color: orange;
        filter: drop-shadow(2px 4px 6px black);
        }
    