.hero {

  /* background-image: url(../assets/images/image3.png);
  background-size: cover; */


}



.hero1 {

    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12,1fr);
    background: rgb(232, 244, 248);
    

    background-image: url(../assets/images/image3.png);
    
    background-size: contain;

    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;

}

@media screen and (max-width: 760px) {
    .hero1 {
      /* display: block; */
      /* align-items: center; */
      grid-template-columns: repeat(6,1fr);
      /* background: white; */

    }
  }

.article1 {

grid-column: 2/span 4;
margin: 70px auto 0px auto;
/* margin: auto; */

/* width: 250px; */
/* height: 250px; */
height: auto;
/* background: green; */
grid-row: 1/1;

}

@media screen and (min-width: 760px) {
    .article1{
      margin: auto;
      width: auto;
      /* height: 400px; */
      /* margin: 100px auto 20px auto; */
    }
  }

.image-wrapper1 {
    margin: 10% auto;
    /* width: 250px; */
    /* height: 250px; */
    /* background: red; */
    grid-row: 2/2;
    grid-column: 1/span3;



}

@media screen and (min-width: 760px) {
    .image-wrapper1{
      /* margin: -300px auto; */
      grid-column: 6/span3;
      grid-row: 1/2;
      width: 60%;
      height: auto;
      /* height: 400px; */
      /* margin-top: 200px; */
    }
  }


  .mobile-margin {

    margin-top: 100px;

  }


  .title1 {

    width: 60%;
    height: 200px;
    background: blue;
    margin-left: 20%;
    margin-right: 20%;
    display: none;
    


}
  .title2 {

    width: 100%;
    height: 200px;
    background: blue;
    grid-column: 2/6;
    grid-row: 3/3;
   

  }

  @media screen and (min-width: 760px) {
    .title2{
      /* margin: -300px auto; */
      grid-column: 2/12;
      grid-row: 3/3;
      width: 100%;
      height: 200px;
      /* margin-top: 200px; */
    }
  }


  h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.title-h1 {


  font-size: 2.5rem;


}

@media screen and (min-width: 760px) {
  .title-h1{
    font-size: 7rem;
  }
}



.card {
  margin-top: -100px;
}

.ui {
  margin-top: -100px;
}